---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%7B:city=%3E%22denver%22,%20:state=%3E%22co%22%7D,%2B&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "City Park",
                       "short_name" : "City Park",
                       "types" : [ "establishment", "park", "point_of_interest" ]
                    },
                    {
                       "long_name" : "2001",
                       "short_name" : "2001",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Colorado Blvd",
                       "short_name" : "Colorado Blvd",
                       "types" : [ "route" ]
                    },
                    {
                 [...]
